* {
/*by default the margin is 10px*/
margin: 0;
}

.App{
  background-color: #FAFAFA;
  
}

.App__header {
  /*image will fir perfectly when stretched or shrinked*/
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}